/*
# This selector group removes all the margins/paddings provided inbuilt 
# in the browser and sets the font to the selected font family.
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*
# This is the body of the page. All required properties are set up to 
# their required values.
*/

.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    animation-name: lightning;
    animation-duration: 10s;
    animation-iteration-count: 3;
    transition-duration: 1s;
    animation-delay: 5s;
}


/*
# This Keyframes is used to set the lightning effect for the background- 
# white flashes.
*/

@keyframes lightning {
    0% {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.svg");
    }
    5% {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    }
    7% {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.svg");
    }
    9% {
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    }
    11% {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.svg");
    }
    100% {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.svg");
    }
}


/*
# This selector is used to set the background image after the animation is completed.
*/

.container {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.svg");
}


/*
# The .box class is used to contain the contents of the whole screen, as in a flex box.
*/

.container .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.container .box .top-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.container .box .tail-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-height: 878px;
}

.top-box {
    color: #999;
}

.tail-box {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    padding-top: 20px;
    flex-wrap: wrap;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container .box .top-box .current-info {
    display: flex;
    flex-direction: column;
}

.container .box .top-box .timeline {
    width: 500px;
}

.current-info {
    margin: 0px 10px 10px 0px;
    padding: 0px 10px 10px 0px;
    max-width: 540px;
    flex-wrap: wrap;
}

.timeline {
    margin: 10px 0px 10px 0px;
    padding: 35px 0px 10px 0px;
    flex-wrap: wrap;
}

.container .box .top-box .current-info .upper-part {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.upper-part .city-img {
    display: inline;
    position: relative;
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}

.upper-part .city-list {
    min-width: 165px;
    max-width: 165px;
    margin-left: 10px;
}

.upper-part .city-list>select {
    background-color: rgba(80, 80, 80, 0.4);
    border-color: rgba(80, 80, 80, 0);
    border-radius: 10px;
    font-size: 25px;
    font-weight: lighter;
    color: #ccc;
    min-height: 70px;
    min-width: 100%;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
}

.upper-part .city-list>option {
    background-color: rgba(80, 80, 80, 1);
    border-width: 3px;
    border-color: rgba(80, 80, 80, 1);
}

.upper-part .city-list>select:hover {
    background-color: #fff;
    color: #000;
}

.upper-part .city-list>select:active {
    background-color: #0ae;
    border-color: #000;
    color: yellow;
}

.upper-part .temp-c {
    padding: 10px 20px 10px 20px;
    min-height: 70px;
    border-right: solid #777;
    border-width: 2px;
    min-width: 75px;
    max-width: 75px;
}

.upper-part .temp-c>b {
    position: relative;
    left: 5px;
    font-size: 25px;
    color: #fff;
}

.upper-part .humidity {
    position: relative;
    padding: 10px 10px 10px 25px;
    min-width: 75px;
    max-width: 75px;
}

.upper-part .humidity>b {
    color: #fff;
    position: relative;
    font-size: 25px;
    left: 10px;
}

.container .box .top-box .current-info .lower-part {
    flex: 1;
    display: flex;
    margin-top: 5px;
    min-height: max-content;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lower-part .blank {
    min-width: 120px;
    max-width: 120px;
    padding: 0px 10px 10px 0px;
}

.lower-part .date-time {
    position: relative;
    min-height: 70px;
    min-width: 165px;
    max-width: 165px;
    color: #ddd;
}

.lower-part .date-time>b {
    color: rgb(207, 203, 138);
    font-size: larger;
}

.lower-part .date-time>img {
    position: relative;
    top: 5px;
    left: 2px;
}

.lower-part .temp-f {
    min-width: 75px;
    max-width: 75px;
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 0px;
    ;
    min-height: 70px;
    border-right: solid #777;
    border-width: 2px;
}

.lower-part .temp-f>b {
    position: relative;
    left: 5px;
    font-size: 25px;
    color: #fff;
}

.lower-part .precipitation {
    position: relative;
    padding: 0px 10px 10px 11px;
    min-height: 70px;
    min-width: 75px;
    max-width: 90px;
}

.lower-part .precipitation>b {
    position: relative;
    left: 20px;
    font-size: 25px;
    color: #fff;
}

.timeline .wrapper-box {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: small;
    display: flex;
    flex-direction: column;
    min-width: 550px;
}

.timeline .wrapper-box .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 550px;
}

.timeline .wrapper-box .vertical-line {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 25px;
    max-height: 40px;
    min-width: 550px;
}

.timeline .wrapper-box .vertical-line .vl:nth-child(even) {
    position: relative;
    color: #fff;
    font-size: 20px;
    flex: 1;
    top: 0;
}

.timeline .wrapper-box .vertical-line .vl:nth-child(odd) {
    position: relative;
    flex: 1;
    top: 0;
}

.timeline .wrapper-box .icons {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 20px;
    max-height: 30px;
    min-width: 550px;
}

.timeline .wrapper-box .temperature {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 20px;
    max-height: 30px;
    min-width: 550px;
}

.tail-box .city-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.tail-box .box22 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.tail-box .city-cards .header {
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-content: space-between;
    justify-content: space-between;
}

.tail-box .city-cards .header>p {
    flex: 1;
    text-align: center;
    font-size: larger;
    padding: 10px 10px 10px 10px;
    min-width: 210px;
}

.tail-box .city-cards .header>img {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

.tail-box .city-cards .header>img:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.tail-box .city-cards .header>img:active {
    border-bottom: 3px solid #0ae;
}

.tail-box .city-cards .header>label {
    padding: 10px 10px 10px 10px;
    min-width: fit-content;
}

.tail-box .city-cards .header>input {
    min-width: 40px;
    max-width: 40px;
    max-height: 20px;
    color: #ccc;
    border: none;
    padding: 0px 0px 0px 10px;
    background-color: rgba(50, 50, 50, 0.4);
    margin: 10px 80px 10px 5px;
}

.tail-box .city-cards .card-box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-items: space-between;
    justify-content: space-evenly;
}

.tail-box .city-cards .card-box .card {
    cursor: pointer;
    flex: 1;
    background: url('../images/newdelhi.svg') 70px 130px/300px no-repeat, rgba(50, 50, 50, 0.4);
    /*min-width: 200px;
    max-width: 200px;
    background-color: #0ae;
    min-height: 300px;*/
    min-width: max-content;
    max-height: 300px;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: relative;
    margin: 10px 10px 10px 10px;
    transition: all 0.3s ease-in;
}

.tail-box .city-cards .card-box .card .cname {
    font-size: 25px;
}

.tail-box .city-cards .card-box .card .time {
    font-size: 15px;
}

.tail-box .city-cards .card-box .card .date {
    font-size: 15px;
}

.tail-box .city-cards .card-box .card .humid>img {
    width: 25px;
}

.tail-box .city-cards .card-box .card .precp>img {
    width: 25px;
}

.tail-box .city-cards .card-box .card>:nth-of-type(1) {
    display: grid;
    grid-gap: 10px;
}

.tail-box .city-cards .card-box .card>:nth-of-type(2) {
    display: flex;
    justify-self: end;
    color: #fff;
    font-size: 25px;
}

.tail-box .city-cards .card-box .card>:nth-of-type(2)::before {
    content: url('../images/sunnyIcon.svg');
}

.tail-box .city-cards .card-box .card:hover {
    opacity: 0.8;
    transform: scale(0.96);
}

.tail-box .continents-cities-cards {
    display: flex;
    flex-direction: column;
}

.tail-box .continents-cities-cards .header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px 10px 10px 10px;
}

.tail-box .continents-cities-cards .header .title {
    font-size: larger;
    flex: 1;
}

.tail-box .continents-cities-cards .header .key1 {
    padding: 10px 10px 0px 10px;
}

.tail-box .continents-cities-cards .header .key2 {
    padding: 10px 0px 0px 10px;
}

.tail-box .continents-cities-cards .header .icon {
    cursor: pointer;
    width: 20px;
    padding: 10px 10px 0px 10px;
}

.tail-box .continents-cities-cards .header .icon:hover {
    transform: scale(1.2);
}

.tail-box .continents-cities-cards .cont-card-box {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 20px 20px 20px;
    grid-gap: 40px 60px;
}

.tail-box .continents-cities-cards .cont-card-box .cont-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: auto;
    max-height: 90px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(50, 50, 50, 0.4);
    transition: all 0.3s ease-in;
}

.tail-box .continents-cities-cards .cont-card-box .cont-card:hover {
    opacity: 0.6;
    transform: scale(0.95);
}

.tail-box .continents-cities-cards .cont-card-box .cont-card .cont {
    font-size: 20px;
    padding-top: 10px;
    color: rgb(241, 234, 87);
}

.tail-box .continents-cities-cards .cont-card-box .cont-card .temp {
    font-size: 25px;
    align-self: flex-start;
    justify-self: end;
}

.tail-box .continents-cities-cards .cont-card-box .cont-card .info {
    align-self: flex-end;
}

.tail-box .continents-cities-cards .cont-card-box .cont-card .humid {
    justify-self: end;
    align-self: flex-end;
}

iframe {
    display: none;
}