/* bottom-section */

.cont-header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.cont-header .title {
    font-size: x-large;
    text-align: center;
    padding-left: 30px;
}

.cont-header .selector {
    display: flex;
    width: 35vw;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: space-between;
}

.sort {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    padding: 0.3rem;
    border: 1px solid #222;
    border-radius: 0.4rem;
    background-position: center;
    transition: background 0.8s;
}

.sort:hover {
    transform: scale(1.2);
    background: #000 radial-gradient(circle, transparent 4%, #000 3%) center/15000%;
    border: 1px solid #ddd;
}

.sort:active {
    background-color: #aaa;
    background-size: 100%;
    border: 0;
    transition: background 0s;
}

.cont-card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 20px 20px 20px;
    grid-gap: 40px 60px;
}

.cont-card-box::-webkit-scrollbar {
    display: none;
}

.cont-card {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: auto;
    max-height: 90px;
    padding: 10px 10px 10px 10px;
    color: var(--primary-white);
    background-color: var(--bg-grey-tile);
    box-shadow: 15px 15px 10px #000;
    transition: all 0.3s ease-in;
}

.cont-card:hover {
    box-shadow: 0 0 10px 10px rgba(200, 200, 200, 0.5);
    background: var(--bg-grey-tile) radial-gradient(circle, transparent 1%, var(--bg-grey-tile) 3%) center/15000%;
    transform: scale(0.95);
}

.cont-card:active {
    background-color: rgba(200, 200, 200, 1);
    background-size: 100%;
    transition: background 0s;
}

.cont-card .cont {
    font-size: 20px;
    padding-top: 10px;
    color: var(--bright-yellow-text);
}

.cont-card .temp {
    font-size: 1.8em;
    align-self: flex-start;
    justify-self: end;
}

.cont-card .info {
    align-self: flex-end;
}

.cont-card .humid {
    justify-self: end;
    align-self: flex-end;
}

footer {
    color: #aaa;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: smaller;
}