/* middle-section */

.common-bg {
    background-color: rgba(0, 0, 0, 0.8);
    color: #aaa;
    border-radius: 2em 2em 0 0;
}

.city-cards {
    padding: 2em;
}

.city-cards .header {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.city-cards p {
    font-size: 1.2rem;
}

.filters {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: auto;
    right: 5%;
    width: 30vw;
}

.filters>div:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.active-icon {
    border-bottom: 0.3rem solid var(--bg-selection-blue);
}

.filters>input {
    border: none;
    text-align: center;
    width: 5vw;
    height: 30px;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.4);
}

.filters input[type="number"]::-webkit-outer-spin-button,
.filters input[type="number"]::-webkit-inner-spin-button {
    border: none;
    opacity: 0.4;
}

.filters input[type="number"]::-webkit-inner-spin-button:hover,
.filters input[type="number"]::-webkit-inner-spin-button:active {
    box-shadow: 0 0 12px rgb(255, 230, 0);
    opacity: 0.8;
}

.card-container {
    display: flex;
    padding: 1em;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    justify-content: space-around;
}

#forwardArrow,
#backArrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
}

#forwardArrow:hover,
#backArrow:hover {
    transform: scale(0.9);
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0rem rgba(200, 200, 200, 0.6);
    }
    50% {
        box-shadow: 0 0 0 .5rem rgba(200, 200, 200, 0.3);
    }
    100% {
        box-shadow: 0 0 0 1rem rgba(200, 200, 200, 0);
    }
}

#forwardArrow:active,
#backArrow:active {
    background: #444;
}

.card-box {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: space-between;
    scroll-behavior: smooth;
    width: 80%;
}

.card-box::-webkit-scrollbar {
    display: none;
}

.card {
    cursor: pointer;
    background: url('../assets/city-icons/kolkata.svg') 70px 130px/270px no-repeat, var(--bg-dark-grey-tile);
    width: 270px;
    min-width: 270px;
    height: 270px;
    padding: 1rem;
    border-radius: 1.5rem;
    margin: 1rem;
    line-height: 2.5rem;
    opacity: 1;
    box-shadow: 20px 20px 10px #000;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px #000;
    transform: scale(0.95);
}

.card b {
    color: #fff;
    font-size: large;
}

.card .cname {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.cname :nth-child(2) {
    font-size: x-large;
    color: #fff;
}

.cname :nth-child(2)::before {
    content: url('../assets/climate-icons/sunnyIcon.svg');
    position: relative;
    top: 10px;
}